@config "../../tailwind.app.config.js";
@tailwind base;
@tailwind components;
@tailwind utilities;

.progress-bar {
  @apply relative w-full bg-zinc-600 rounded-full overflow-hidden;
}

.progress-bar div {
  @apply h-4 transition-[width] duration-1000 ease-in-out motion-reduce:transition-none;
}

.progress-bar label {
  @apply absolute left-0 right-0 top-0 bottom-0 text-center text-sm text-zinc-100 leading-4;
}

.progress-bar label[aria-hidden="true"] {
  @apply sr-only;
}

.progress-bar.progress-bar-striped div {
  background-image: linear-gradient(135deg,
      rgba(255, 255, 255, 0.15) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(255, 255, 255, 0.15) 75%,
      transparent 75%,
      transparent);
  background-size: 1rem 1rem;
  background-repeat: repeat;
  animation: progress-bar-slide 1s linear infinite;
}

.progress-bar.progress-bar-arrow div {
  @apply py-2;
  background-image: linear-gradient(45deg,
      rgba(255, 255, 255, 0.15) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(255, 255, 255, 0.15) 75%,
      transparent 75%,
      transparent), linear-gradient(135deg,
      rgba(255, 255, 255, 0.15) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(255, 255, 255, 0.15) 75%,
      transparent 75%,
      transparent);
  background-size: 1rem 1rem;
  background-repeat: repeat-x;
  background-position:
    top -0.5rem left 0rem,
    bottom -0.5rem left 0rem;
  animation: progress-bar-slide 1s linear infinite;
}
@keyframes progress-bar-slide {
  to {
    background-position-x: 1rem;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  @apply appearance-none;
  margin: 0;
}